.container {
    display: flex;
    justify-content: center;
}

.imageContainer {
    width: 500px;
    height: 700px;
}

.name {
    font-family: 'NanumSquareNeo';
    font-size: 20px;
}

.description {
    font-family: 'NanumSquareNeo';
    font-size: 20px;
}

.price {
    font-family: 'NanumSquareNeoExtraBold';
    font-size: 20px;
}