.card {
    width: 800px;
    height: 200px;
    border: 3px solid #dcdcdc;
    border-radius: 10px;

    margin: 30px auto;
    padding: 1rem 1rem;
}

.adminCard {
    width: 800px;
    height: 200px;
    border: 3px solid #dcdcdc;
    border-radius: 10px;

    margin: 30px auto;
    padding: 1rem 1rem;
}

.cardActive {
    width: 800px;
    height: 200px;
    border: 3px solid #FFAF00;
    border-radius: 10px;

    margin: 30px auto;
    padding: 1rem 1rem;
}

.adminCard:hover {
    border: 3px solid #FFAF00;
    cursor: pointer
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 1rem;
}

.productDetail {
    font-family: 'NanumSquareNeo';
    font-size: 14px;
}

.productDetail span {
    color: #1478FF;
    cursor: pointer;
}

.productPrice {
    font-family: 'NanumSquareNeo';
    font-size: 14px;
}

.productPrice span {
    font-family: 'NanumSquareNeoExtraBold';
    font-size: 18px;
}

.title {
    font-family: 'NanumSquareNeo';
    font-size: 16px;
    text-align: left;
    margin-top: 10px;
}

.imageContainer {
    text-align: left;
}

.image {
    border-radius: 5px;
    margin: 5px 5px;
}

.button {
    padding: 1rem 1rem;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    width: 500px;

    font-family: 'NanumSquareNeo';
    font-size: 20px;
}

.buttonActive {
    padding: 1rem 1rem;
    border: 1px solid #FFAF00;
    background-color: #FFAF00;
    border-radius: 10px;
    width: 500px;
    cursor: pointer;

    font-family: 'NanumSquareNeo';
    font-size: 20px;
}