.main_container {
    text-align: center;
}

.main_title {
    margin-top: 4rem;
    font-family: 'NanumSquareNeo';
}

.profile_layout {
    display: flex;
    width: 70%;
    height: 50vh;
    margin: 0 auto;
    border-top: 1px solid #dcdcdc;
}

.layout_menubar {
    background-color: #6482FF;
    color: #fff;
}

.layout_menubar ul {
    padding: 0;
    min-width: 130px;
}

.layout_menubar ul li {
    padding: 1rem 1rem;
    cursor: pointer;

    font-size: 20px;
    font-family: 'NanumSquareNeo';
}

.layout_menubar ul li:hover {
    background-color: #14148C;
}

.active {
    background-color: #14148C;
}

.layout_body {
    width: 100%;
    height: 100%;
    text-align: center;
}

.body_contents {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: 'NanumSquareNeo';
}

.profile_button {
    border: 1px solid #6482FF;
    border-radius: 20px;
    padding: 1rem 1rem;
    margin-top: 3rem;
    background-color: #6482FF;
    cursor: pointer;

    font-family: 'NanumSquareNeo';
    font-size: 20px;
    color: #fff;
}

.profile_button:hover {
    background-color: #14148C;
    border: 1px solid #14148C;
}

.profile_card {
    display: flex;
    font-size: 20px;
}

.profile_image {
    display: inline-block;
    margin-top: 30px;
    
}

.profile_image img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.card_contents {
    padding: 1rem 1rem;
    padding-left: 9rem;
}

.card_contents input {
    padding: .5rem .2rem;
    border: 1px solid #aaaaaa;
    outline: 0;

    font-family: 'NanumSquareNeo';
    font-size: 20px;
}

.address input {
    padding: .5rem .2rem;
    border: 1px solid #aaaaaa;
    outline: 0;

    font-family: 'NanumSquareNeo';
    font-size: 20px;
}

.address_button {
    border: 1px solid #aaaaaa;
    padding: .5rem .5rem;
    margin-left: 5px;
    background-color: #aaaaaa;

    font-family: 'NanumSquareNeo';
    font-size: 20px;
}

.address_button_active {
    border: 1px solid #FFA01E;
    padding: .5rem .5rem;
    margin-left: 5px;
    background-color: #FFA01E;
    cursor: pointer;

    font-family: 'NanumSquareNeo';
    font-size: 20px;
}

.address_head {
    margin-bottom: .6rem;
}

.address_tail input {
    width: 100%;
    margin: .5rem 0;
}

.open_modal {
    width: 700px;
    z-index: 99;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: 1px solid #aaaaaa;
}

.modal {
    /* display: none; */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal_header {
    position: relative;
    padding: 1rem 1rem;
    background-color: #f1f1f1;

    font-family: 'NanumSquareNeo';
    font-size: 18px;
}

.modal_header button {
    outline: none;
    cursor: pointer;
    border: 0;

    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    font-size: 21px;
    font-weight: 700;
    text-align: center;
    color: #999;
    background-color: transparent;
}