.background {
    background: #d2d2d2;
    height: 100vh;
}

.register-page {
    width: 360px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.form {
    position: relative;
    z-index: 1;
    background-color: #fff;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    font-family: 'NanumSquareNeo';
    outline: 0;
    background-color: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    font-family: 'NanumSquareNeo';
    text-transform: uppercase;
    outline: 0;
    background-color: #e8716d;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    letter-spacing: 0.1rem;
}

.form button:hover, .form button:active, .form button:focus {
    filter: brightness(95%)
}

.form .message {
    font-family: 'NanumSquareNeo';
    letter-spacing: 0.03rem;
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 14px;
}

.form .message a {
    color: #1EA4FF;
    cursor: pointer;
}

.error-message {
    color: #FF6A89;
    font-family: 'NanumSquareNeo';
}