.container {
    display: flex;
    justify-content: center;
}

.imageContainer {
    width: 700px;
    height: 900px;
    margin-right: 150px; 
}

.contents {
    width: 700px;
}

.productInfo {
    border-bottom: 1px solid #d2d2d2;
}

.name {
    margin: 20px 0;
    margin-bottom: 80px;
    font-family: 'NanumSquareNeo';
    font-size: 24px;
}

.price {
    font-family: 'NanumSquareNeoExtraBold';
    font-size: 24px;
    margin-bottom: 50px;
}

.description {
    font-family: 'NanumSquareNeo';
    font-size: 20px;
    margin-bottom: 30px;
}

.postedInfo {
    border-bottom: 1px solid #d2d2d2;
}

.posted {
    font-family: 'NanumSquareNeo';
    font-size: 18px;
    color: #8c8c8c;

    margin: 40px 0;
}

.createAt {
    font-family: 'NanumSquareNeo';
    font-size: 18px;
    color: #8c8c8c;

    margin-bottom: 40px;
}

.productManageFunc {
    font-family: 'NanumSquareNeo';
    font-size: 18px;
    color: #00B9FF;
    cursor: pointer;

    margin-bottom: 40px;
}

.productManageFunc span {
    margin-right: 30px;
}

.selectProduct {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;

    padding: 20px 15px;
    border: 1px solid #d2d2d2;
    border-radius: 10px;
    background-color: #d2d2d2;
}

.selectProductName {
    font-family: 'NanumSquareNeo';
    font-size: 18px;
}

.optionsContents {
    display: flex;
    justify-content: space-between;
}

.optionsBtn {
    font-family: 'NanumSquareNeo';
    font-size: 18px;
}

.amountBtn {
    border: 1px solid #d2d2d2;
    border-radius: 50%;
    margin: 0 15px;
    cursor: pointer;

    font-family: 'NanumSquareNeo';
    font-size: 18px;
}

.eachPrice {
    font-family: 'NanumSquareNeoExtraBold';
    font-size: 18px;
}

.totalPrice {
    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid #d2d2d2;
    margin: 20px 0;
    padding: 20px 0;
}

.priceText {
    font-family: 'NanumSquareNeoExtraBold';
    font-size: 18px;
}

.totalPriceValue {
    font-family: 'NanumSquareNeoExtraBold';
    font-size: 24px;
    color: #0064FF;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
}

.heartBtn {
    border: 1px solid #d2d2d2;
    border-radius: 10px;
    background-color: #fff;
    width: 80px;
    height: 80px;
    cursor: pointer;

    font-size: 24px;
    color: #FFAF00;
}

.cartBtn {
    border: 1px solid #d2d2d2;
    border-radius: 10px;
    background-color: #fff;
    width: 300px;
    height: 80px;
    cursor: pointer;

    font-family: 'NanumSquareNeo';
    font-size: 24px;
}

.buyBtn {
    border: 1px solid #FFA01E;
    border-radius: 10px;
    background-color: #FFA01E;
    width: 300px;
    height: 80px;
    cursor: pointer;

    font-family: 'NanumSquareNeo';
    font-size: 24px;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.7);
}

.openModal {
    width: 500px;
    z-index: 21;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: 1px solid #aaaaaa;
}

.openProductModal {
    width: 800px;
    z-index: 21;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: 1px solid #aaaaaa;
}

.modalHeader {
    position: relative;
    padding: 1rem 1rem;
    background-color: #f1f1f1;

    font-family: 'NanumSquareNeo';
    font-size: 18px;
}

.modalHeader button {
    outline: none;
    cursor: pointer;
    border: 0;

    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    font-size: 21px;
    font-weight: 700;
    text-align: center;
    color: #999;
    background-color: transparent;
}

.modalBody {
    padding: 2rem 2rem;
    background-color: #f1f1f1;
    text-align: center;

    font-family: 'NanumSquareNeo';
    font-size: 18px;
}

.cartBtnContainer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.keepShop {
    border: 1px solid #d2d2d2;
    border-radius: 5px;
    background-color: #f1f1f1;
    padding: .7rem 1rem;
    margin-right: 10px;
    cursor: pointer;

    font-family: 'NanumSquareNeo';
    font-size: 18px;
}

.moveCart {
    border: 1px solid #FFA01E;
    border-radius: 5px;
    background-color: #FFA01E;
    padding: .7rem 1rem;
    cursor: pointer;

    font-family: 'NanumSquareNeo';
    font-size: 18px;
}

/* 리뷰 */
.reviewContainer {
    text-align: center;
    margin: 100px auto;
    width: 1200px;
}

.reviewHeader {
    display: flex;
    justify-content: space-between;
}

.title {
    font-family: 'NanumSquareNeo';
    font-size: 28px;
}

.reviewCreate {
    font-family: 'NanumSquareNeo';
    font-size: 20px;
    color: #00B9FF;
    cursor: pointer;
}

.ratingAvg {
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin-top: 20px;
}

.ratingValue {
    display: flex;
    justify-content: space-between;
    width: 350px;
}

.neo {
    font-family: 'NanumSquareNeo';
    font-size: 20px;
    line-height: 33px;
}

.heart {
    font-size: 24px;
    color: #FF6A89;
}

.heart span {
    margin: 0 1px;
}

/* 리뷰 */

.openModalReview {
    width: 700px;
    z-index: 21;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: 1px solid #aaaaaa;
}

.reviewComponent {
    display: flex;
    width: 1200px;
    margin: 50px 0;
    border-top: 1px solid #dcdcdc;
    padding: 30px 5px;
}

.left {
    width: 300px;
    vertical-align: top;
}

.right {
    width: 700px;
    text-align: left;
}

.right span {
    white-space: pre;
    white-space: pre-line;
    white-space: pre-wrap;
    font-family: 'NanumSquareNeo';
    font-size: 18px;
}

.heartDisplay {
    padding: 0;
    margin-top: 0;
    display: flex;
    font-size: 24px;
    color: #FF6A89;
    display: flex;
}

.profile {
    display: flex;
}

.profileImg {
    margin-right: 30px;
    border-radius: 50%;
}

.username {
    font-family: 'NanumSquareNeo';
    font-size: 20px;
    line-height: 83px;
}

.ownReview {
    text-align: left;
    margin-top: 30px;
}

.ownReview span {
    font-family: 'NanumSquareNeo';
    font-size: 20px;
    margin-left: 16px;
    color: #00B9FF;
    cursor: pointer;
}

.ownReview span:hover {
    text-decoration: underline;
}

.productImgContainer {
    display: flex;
    margin-top: 20px;
}

.productImg {
    border-radius: 10px;
    margin-right: 10px;
}

.heartTotal {
    font-size: 24px;
    color: #FF6A89;
    display: flex;
    padding: 0;
    margin: 0;
}

.heartModal {
    font-size: 24px;
    color: #FF6A89;
    display: flex;
    justify-content: center;
    padding: 0;
    height: 30px;
}

.heartEle {
    margin-right: 2px;
    cursor: pointer;
}

.heartEle:hover {
    font-size: 32px;
}

.heartEleUnClick {
    margin-right: 2px;
}

.reviewText {
    padding: .5rem .2rem;
    border: 1px solid #aaaaaa;
    outline: 0;
    width: 550px;
    height: 150px;

    font-family: 'NanumSquareNeo';
    font-size: 18px;
    resize: none;
}

.productImage {
    width: 550px;
    height: 125px;
    border: 1px dashed #aaaaaa;
    cursor: pointer;
    overflow: auto;
    text-align: center;
    margin: 0 auto;
}

.productImage span {
    line-height: 90px;
}

.productImage img {
    padding: .5rem .5rem;
}

.submitReview {
    width: 550px;
    border: 1px solid #6482FF;
    border-radius: 10px;
    padding: 1rem 1rem;
    margin-top: 1rem;
    cursor: pointer;

    font-family: 'NanumSquareNeo';
    font-size: 20px;
}

.submitReview:hover {
    background-color: #6482FF;
    border: 1px solid #6482FF;
    color: #fff;
}